<html lang="en">

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>
        <title>BitRights</title>
</head>

<body>
    <div class="container-fluid" id="nav">
        <div class="row">
            <div class="col text-right">
                <a href="/">Home</a> <a href="/blockchain" class="ml-3">View Blockchain</a> <a href="/about" class="ml-3">About Us</a> <a href="/faq" class="ml-3">FAQ</a>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col">
                <img src="../static/aboutus.png" class="img-fluid mb-4" style="width: 20%;" alt="Responsive image">
            </div>
        </div>
        <div class="row">
                <div class="col">
                    <h3>Project Members</h3>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Brandon Tan</h5>
                      <p class="card-text"><a href="https://github.com/BrandonTJS" target="_blank" class="text-white">https://github.com/BrandonTJS</a></p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Liu Yan Qi</h5>
                      <p class="card-text"><a href="https://github.com/liuyanqi" target="_blank" class="text-white">https://github.com/liuyanqi</a></p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">George Spahn</h5>
                      <p class="card-text"><a href="https://github.com/DarthCalculus" target="_blank" class="text-white">https://github.com/DarthCalculus</a></p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-3">
                <div class="col">
                    <h3>Project Repo</h3>
                    <h5><a href="https://github.com/liuyanqi/bitright" target="_blank">https://github.com/liuyanqi/bitright</a></h5>
                </div>
            </div>
    </div>
</body>

</html>