<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>
    <script src="../static/blockchain.js"></script>
</head>

<body>
    <div class="container-fluid" id="nav">
        <div class="row">
            <div class="col text-right">
                <a href="/">Home</a> <a href="#" class="ml-3">About Us</a> <a href="#" class="ml-3">FAQ</a>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col">
                    <h1 class="text-primary">BitRights Blockchain</h1>
            </div>
            
        </div>
        <div class="row w-100">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-white bg-primary">
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Previous Hash</th>
                            <th scope="col">Timestamp</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Audio</td>
                            <td>0</td>
                            <td>4 April 2019 10:37 AM</td>
                            <td><a href="#" title="Owner Public Key"><i class="fas fa-key"></i></a><a href="#" title="Download File" class="ml-2"><i class="fas fa-file-alt"></i></a></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Text</td>
                            <td>AJHKJHKJAHKJSHKAJ</td>
                            <td>4 April 2019 10:37 AM</td>
                            <td><a href="#" title="Owner Public Key"><i class="fas fa-key"></i></a><a href="#" title="Download File" class="ml-2"><i class="fas fa-file-alt"></i></a></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>Larry</td>
                            <td>Image</td>
                            <td>BJHJSAHU213YQIWQI</td>
                            <td>4 April 2019 10:37 AM</td>
                            <td><a href="#" title="Owner Public Key"><i class="fas fa-key"></i></a><a href="#" title="Download File" class="ml-2"><i class="fas fa-file-alt"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>

</html>