<html lang="en">

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>
    <link href="../static/index.css" rel="stylesheet">
    <script src="../static/index.js"></script>
</head>

<body>
    <div class="container-fluid" id="nav">
        <div class="row">
            <div class="col text-right">
                <a href="/blockchain">View Blockchain</a> <a href="#" class="ml-3">About Us</a> <a href="#"
                    class="ml-3">FAQ</a>
            </div>
        </div>
    </div>
    <div id="mainContainer"
        class="container active justify-content-center align-items-center d-flex flex-column mb-5 pb-5">
        <div class="row">
            <div class="col">
                <center>
                    <div class="w-50">
                        <img src="../static/logo.png" class="img-fluid" alt="Responsive image">
                    </div>
                </center>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <center>
                    <form id="content">
                        <label for="filePicker" class="btn btn-outline-primary" style="cursor: pointer;">
                            Browse File
                            <input id="filePicker" type="file" name="contentFile" class="d-none">
                        </label>
                        <br />
                        <span id="fname"></span>
                        <div class="row mt-1" id="genreSelector">
                            <div class="col-12">
                                <select id="genreSelectInput" class="form-control" name="genre">
                                    <option>Audio</option>
                                    <option>Image</option>
                                    <option>Text</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </center>
            </div>
        </div>
        <div class="row mt-4 w-100" id="publishinfo">
            <div class="col-9" style="margin: 0 auto;">
                <form>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="contentTitle">Content Title</label>
                                <input required type="text" class="form-control" id="contentTitle" placeholder="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="contentAuthor">Content Author</label>
                                <input required type="text" class="form-control" id="contentAuthor" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="contentOwnerPubKey">Content Owner PGP Public Key</label>
                                <textarea required class="form-control" id="contentOwnerPubKey" rows="7" placeholder="-----BEGIN PGP PUBLIC KEY BLOCK-----&#10;Version: BCPG C# v1.6.1.0&#10;EXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLE==&#10;-----END PGP PUBLIC KEY BLOCK-----
                                                        "></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="step2">
            <div class="col">
                <center>
                    <button type="button" id="btnPub" class="btn btn-primary"
                        onclick="showPublishInfo()">Publish</button>
                    <button type="button" id="btnConfirmPub" class="btn btn-primary" onclick="confirmPublish()">Confirm
                        Publish</button>
                    <button type="button" class="btn btn-primary" onclick="lookup()">Lookup</button>
                </center>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6" id="detailsModalBodyLeft">

                            </div>
                            <div class="col-6" id="detailsModalBodyRight">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>